# =====================
# NODE
# =====================
node_modules/
npm-debug.log*
package-lock.json

# =====================
# DATABASE LOCAL
# =====================
BACK/db.json

# =====================
# JAVA / MAVEN
# =====================
target/
*.class

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# LOGS
# =====================
*.log